.header
{
    background-color: cornflowerblue;
}

.OpenResumeLogo{
    text-align: start;
    color: white;
}

.LoginButtons{
    text-align: end;
    margin-top: 5px;
}

.ErrorMessage {
    color: red;
}

.OkMessage {
    color: green;
}

#Message {
    text-align: center;
}