<div class="row"></div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="login-box card">
            <div class="card-header">
                <h3>{{'NEW-USER.CONFIRMATION-TITLE' | translate}}</h3>
            </div>
            <div class="card-body">
                <p>
                    {{'NEW-USER.CONFIRMATION-1' | translate}}
                </p>
                <p>
                    {{'NEW-USER.CONFIRMATION-2' | translate}}
                </p>
                <p>
                    {{'NEW-USER.CONFIRMATION-3' | translate}}
                </p>
                <p>
                    {{'NEW-USER.CONFIRMATION-4' | translate}}
                </p>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row"></div>