<header class="main-header header">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 OpenResumeLogo">
            <h1>Open-Resume</h1>
        </div>
        <div class="col-md-5 LoginButtons">
            <button type="button" class="btn btn-outline-light" [routerLink]="['/newuser']" ><i class="fa fa-sign-in">&nbsp;</i>{{'REGISTER' | translate}}</button>
            <button type="button" class="btn btn-outline-light" [routerLink]="['/login']"><i class="fa fa-lock"></i>&nbsp;{{'SIGN_IN' | translate}}</button>
        </div>
        <div class="col-md-1"></div>
    </div>
</header>