<div class="row"></div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="login-box card">
            <div class="card-header">
                <h3>{{'NEW-USER.TITLE' | translate}}</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="userForm" novalidate>
                    <div class="row">
                        <div class="col-12">
                            <openr-input-container [ErrorMessages]="errorMessagesUserName"
                                label="{{'NEW-USER.USER-NAME' | translate}}">
                                <input type="text" class="form-control" formControlName="userName"
                                    placeholder="{{'NEW-USER.USER-NAME' | translate}}">
                            </openr-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <openr-input-container [ErrorMessages]="errorMessagesRequired"
                                label="{{'NEW-USER.FIRST-NAME' | translate}}">
                                <input type="text" class="form-control" formControlName="firstName"
                                    placeholder="{{'NEW-USER.FIRST-NAME' | translate}}">
                            </openr-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <openr-input-container [ErrorMessages]="errorMessagesRequired"
                                label="{{'NEW-USER.LAST-NAME' | translate}}">
                                <input type="text" class="form-control" formControlName="lastName"
                                    placeholder="{{'NEW-USER.LAST-NAME' | translate}}">
                            </openr-input-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <openr-input-container [ErrorMessages]="errorMessagesEmail"
                                label="{{'NEW-USER.EMAIL' | translate}}">
                                <input type="text" class="form-control" formControlName="email"
                                    placeholder="{{'NEW-USER.EMAIL' | translate}}">
                            </openr-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <openr-input-container [ErrorMessages]="errorMessagesEmail"
                                label="{{'NEW-USER.CONFIRM-EMAIL' | translate}}">
                                <input type="text" class="form-control" formControlName="confirmEmail"
                                    placeholder="{{'NEW-USER.CONFIRM-EMAIL' | translate}}">
                            </openr-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <openr-input-container [ErrorMessages]="errorMessagesPassword"
                                label="{{'NEW-USER.PASSWORD' | translate}}">
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="{{'NEW-USER.PASSWORD' | translate}}" autocomplete="off">
                            </openr-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <openr-input-container [ErrorMessages]="errorMessagesPasswordConfirm"
                                label="{{'NEW-USER.CONFIRM-PASSWORD' | translate}}">
                                <input type="password" class="form-control" formControlName="confirmPassword"
                                    placeholder="{{'NEW-USER.CONFIRM-PASSWORD' | translate}}" autocomplete="off">
                            </openr-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 align-content-center">
                            <button (click)="Confirm()" href="#" [disabled]="!userForm.valid"
                                class="btn btn-success pull-right">
                                <i class="fa fa-user"></i> {{'NEW-USER.REGISTER' | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <openr-message #Message></openr-message>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row"></div>